doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
    link(rel='icon', href='/favicon.png')
  body
    header.header
      h1.header-title= title
      nav
        ul.nav-list
          li.nav-item: a.nav-link(href='/') Головна
          li.nav-item: a.nav-link(href='/users') Користувачі
          li.nav-item: a.nav-link(href='/articles') Статті
          li.nav-item: a.nav-link(href='/set-theme/dark') Встановити темну тему
          li.nav-item: a.nav-link(href='/set-theme/light') Встановити світлу тему
          li.nav-item: a.nav-link(href='/get-theme') Отримати тему
          li.nav-item: a.nav-link(href='/protected') Захищена сторінка
          li.nav-item: a.nav-link(href='/register') Реєстрація
          li.nav-item: a.nav-link(href='/login') Вхід
    main.main-content
      block content
    footer.footer
      p &copy; 2024 Мій додаток