doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/styles.css")
    link(rel='icon', href='/favicon.png')
  body
    header
      h1= title
    main
      block content
    footer
      p &copy; 2024 My Application
