<!DOCTYPE html>
<html lang="en">
<head>
  <title>Деталі статті</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/favicon.png">
</head>
<body>
<h1><%= article.title %></h1>
<p><%= article.content %></p>
<a href="/articles">Назад до списку</a>
<script>
  document.cookie = "theme=dark;path=/";
</script>
</body>
</html>