<%- include('layout', { title: 'Список статей' }) %>
<h1>Список статей</h1>
<ul>
    <% articles.forEach(function(article) { %>
        <li>
            <a href="/articles/<%= article.id %>"><%= article.title %></a>
        </li>
    <% }); %>
</ul>