<!DOCTYPE html>
<html>
<head>
  <title>Articles</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="header">
    <nav>
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
        <li class="nav-item"><a class="nav-link" href="/articles">Articles</a></li>
        <li class="nav-item"><a class="nav-link" href="/set-theme/dark">Set Dark Theme</a></li>
        <li class="nav-item"><a class="nav-link" href="/set-theme/light">Set Light Theme</a></li>
        <li class="nav-item"><a class="nav-link" href="/get-theme">Get Theme</a></li>
        <li class="nav-item"><a class="nav-link" href="/protected">Protected</a></li>
        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
      </ul>
    </nav>
  </header>
  <main class="main-content">
    <h1>Articles List</h1>
    <ul>
      <% articles.forEach(function(article) { %>
        <li><%= article.title %></li>
      <% }); %>
    </ul>
  </main>
  <footer class="footer">
    <p>&copy; 2024 My Application</p>
  </footer>
</body>
</html>