doctype html
html
  head
    title Users
    link(rel="stylesheet", href="/style.css")
  body
    header.header
      nav
        ul.nav-list
          li.nav-item: a.nav-link(href='/') Головна
          li.nav-item: a.nav-link(href='/users') Користувачі
          li.nav-item: a.nav-link(href='/articles') Статті
          li.nav-item: a.nav-link(href='/set-theme/dark') Встановити темну тему
          li.nav-item: a.nav-link(href='/set-theme/light') Встановити світлу тему
          li.nav-item: a.nav-link(href='/get-theme') Отримати тему
          li.nav-item: a.nav-link(href='/protected') Захищено
          li.nav-item: a.nav-link(href='/register') Реєстрація
          li.nav-item: a.nav-link(href='/login') Вхід
    main.main-content
      h1 Users List
      ul.user-list
        each user in users
          li.user-item: a.user-link(href=`/users/${user.id}`) #{user.name}
    footer.footer
      p &copy; 2024 My Application