doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="/styles.css")
        link(rel="icon", href="/favicon.png")
    body
        block content
        script.
            document.cookie = "theme=dark;path=/";
